@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SF Pro Display', sans-serif;
}

.hero {
  background-color: #ffffff;
  opacity: 0.1;
  background-image: linear-gradient(#cccfff 1.8px, transparent 1.8px),
    linear-gradient(to right, #cccfff 1.8px, #ffffff 1.8px);
  background-size: 36px 36px;
}
